.svg-container{
  margin:15% auto;
  width:200px;
  text-align:center;
}
@-webkit-keyframes kf_el_RR_8o1GoWZ_an_Lycrdf-ss {
  34.44% {
    opacity: 0;
  }

  37.78% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes kf_el_RR_8o1GoWZ_an_Lycrdf-ss {
  34.44% {
    opacity: 0;
  }

  37.78% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes kf_el_kC_R4xw6A-_an_m4iXLhhNW {
  26.67% {
    opacity: 0;
  }

  37.78% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes kf_el_kC_R4xw6A-_an_m4iXLhhNW {
  26.67% {
    opacity: 0;
  }

  37.78% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes kf_el_3tsvVXmx8N_an_Tu00hwX5K {
  50% {
    -webkit-transform: translate(100.60791015625px, 109.37390899658203px) translate(-100.60791015625px, -109.37390899658203px) translate(0px, 0px);
    transform: translate(100.60791015625px, 109.37390899658203px) translate(-100.60791015625px, -109.37390899658203px) translate(0px, 0px);
  }

  55.56% {
    -webkit-transform: translate(100.60791015625px, 109.37390899658203px) translate(-100.60791015625px, -109.37390899658203px) translate(5px, 5px);
    transform: translate(100.60791015625px, 109.37390899658203px) translate(-100.60791015625px, -109.37390899658203px) translate(5px, 5px);
  }

  60% {
    -webkit-transform: translate(100.60791015625px, 109.37390899658203px) translate(-100.60791015625px, -109.37390899658203px) translate(-5px, -5px);
    transform: translate(100.60791015625px, 109.37390899658203px) translate(-100.60791015625px, -109.37390899658203px) translate(-5px, -5px);
  }

  63.33% {
    -webkit-transform: translate(100.60791015625px, 109.37390899658203px) translate(-100.60791015625px, -109.37390899658203px) translate(0px, 0px);
    transform: translate(100.60791015625px, 109.37390899658203px) translate(-100.60791015625px, -109.37390899658203px) translate(0px, 0px);
  }

  0% {
    -webkit-transform: translate(100.60791015625px, 109.37390899658203px) translate(-100.60791015625px, -109.37390899658203px) translate(0px, 0px);
    transform: translate(100.60791015625px, 109.37390899658203px) translate(-100.60791015625px, -109.37390899658203px) translate(0px, 0px);
  }

  100% {
    -webkit-transform: translate(100.60791015625px, 109.37390899658203px) translate(-100.60791015625px, -109.37390899658203px) translate(0px, 0px);
    transform: translate(100.60791015625px, 109.37390899658203px) translate(-100.60791015625px, -109.37390899658203px) translate(0px, 0px);
  }
}

@keyframes kf_el_3tsvVXmx8N_an_Tu00hwX5K {
  50% {
    -webkit-transform: translate(100.60791015625px, 109.37390899658203px) translate(-100.60791015625px, -109.37390899658203px) translate(0px, 0px);
    transform: translate(100.60791015625px, 109.37390899658203px) translate(-100.60791015625px, -109.37390899658203px) translate(0px, 0px);
  }

  55.56% {
    -webkit-transform: translate(100.60791015625px, 109.37390899658203px) translate(-100.60791015625px, -109.37390899658203px) translate(5px, 5px);
    transform: translate(100.60791015625px, 109.37390899658203px) translate(-100.60791015625px, -109.37390899658203px) translate(5px, 5px);
  }

  60% {
    -webkit-transform: translate(100.60791015625px, 109.37390899658203px) translate(-100.60791015625px, -109.37390899658203px) translate(-5px, -5px);
    transform: translate(100.60791015625px, 109.37390899658203px) translate(-100.60791015625px, -109.37390899658203px) translate(-5px, -5px);
  }

  63.33% {
    -webkit-transform: translate(100.60791015625px, 109.37390899658203px) translate(-100.60791015625px, -109.37390899658203px) translate(0px, 0px);
    transform: translate(100.60791015625px, 109.37390899658203px) translate(-100.60791015625px, -109.37390899658203px) translate(0px, 0px);
  }

  0% {
    -webkit-transform: translate(100.60791015625px, 109.37390899658203px) translate(-100.60791015625px, -109.37390899658203px) translate(0px, 0px);
    transform: translate(100.60791015625px, 109.37390899658203px) translate(-100.60791015625px, -109.37390899658203px) translate(0px, 0px);
  }

  100% {
    -webkit-transform: translate(100.60791015625px, 109.37390899658203px) translate(-100.60791015625px, -109.37390899658203px) translate(0px, 0px);
    transform: translate(100.60791015625px, 109.37390899658203px) translate(-100.60791015625px, -109.37390899658203px) translate(0px, 0px);
  }
}

@-webkit-keyframes kf_el_3tsvVXmx8N_an_QVDJCTvDH {
  46.67% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes kf_el_3tsvVXmx8N_an_QVDJCTvDH {
  46.67% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes kf_el_iilFtJNBZf_an_HuTTrNIUR {
  50% {
    -webkit-transform: translate(70px, 103px) translate(-70px, -103px) translate(0px, 0px);
    transform: translate(70px, 103px) translate(-70px, -103px) translate(0px, 0px);
  }

  55.56% {
    -webkit-transform: translate(70px, 103px) translate(-70px, -103px) translate(5px, 5px);
    transform: translate(70px, 103px) translate(-70px, -103px) translate(5px, 5px);
  }

  60% {
    -webkit-transform: translate(70px, 103px) translate(-70px, -103px) translate(-5px, -5px);
    transform: translate(70px, 103px) translate(-70px, -103px) translate(-5px, -5px);
  }

  63.33% {
    -webkit-transform: translate(70px, 103px) translate(-70px, -103px) translate(0px, 0px);
    transform: translate(70px, 103px) translate(-70px, -103px) translate(0px, 0px);
  }

  0% {
    -webkit-transform: translate(70px, 103px) translate(-70px, -103px) translate(0px, 0px);
    transform: translate(70px, 103px) translate(-70px, -103px) translate(0px, 0px);
  }

  100% {
    -webkit-transform: translate(70px, 103px) translate(-70px, -103px) translate(0px, 0px);
    transform: translate(70px, 103px) translate(-70px, -103px) translate(0px, 0px);
  }
}

@keyframes kf_el_iilFtJNBZf_an_HuTTrNIUR {
  50% {
    -webkit-transform: translate(70px, 103px) translate(-70px, -103px) translate(0px, 0px);
    transform: translate(70px, 103px) translate(-70px, -103px) translate(0px, 0px);
  }

  55.56% {
    -webkit-transform: translate(70px, 103px) translate(-70px, -103px) translate(5px, 5px);
    transform: translate(70px, 103px) translate(-70px, -103px) translate(5px, 5px);
  }

  60% {
    -webkit-transform: translate(70px, 103px) translate(-70px, -103px) translate(-5px, -5px);
    transform: translate(70px, 103px) translate(-70px, -103px) translate(-5px, -5px);
  }

  63.33% {
    -webkit-transform: translate(70px, 103px) translate(-70px, -103px) translate(0px, 0px);
    transform: translate(70px, 103px) translate(-70px, -103px) translate(0px, 0px);
  }

  0% {
    -webkit-transform: translate(70px, 103px) translate(-70px, -103px) translate(0px, 0px);
    transform: translate(70px, 103px) translate(-70px, -103px) translate(0px, 0px);
  }

  100% {
    -webkit-transform: translate(70px, 103px) translate(-70px, -103px) translate(0px, 0px);
    transform: translate(70px, 103px) translate(-70px, -103px) translate(0px, 0px);
  }
}

@-webkit-keyframes kf_el_iilFtJNBZf_an_7rG_qA_o0 {
  46.67% {
    -webkit-transform: translate(70px, 103px) scale(0, 0) translate(-70px, -103px);
    transform: translate(70px, 103px) scale(0, 0) translate(-70px, -103px);
  }

  50% {
    -webkit-transform: translate(70px, 103px) scale(1, 1) translate(-70px, -103px);
    transform: translate(70px, 103px) scale(1, 1) translate(-70px, -103px);
  }

  0% {
    -webkit-transform: translate(70px, 103px) scale(0, 0) translate(-70px, -103px);
    transform: translate(70px, 103px) scale(0, 0) translate(-70px, -103px);
  }

  100% {
    -webkit-transform: translate(70px, 103px) scale(1, 1) translate(-70px, -103px);
    transform: translate(70px, 103px) scale(1, 1) translate(-70px, -103px);
  }
}

@keyframes kf_el_iilFtJNBZf_an_7rG_qA_o0 {
  46.67% {
    -webkit-transform: translate(70px, 103px) scale(0, 0) translate(-70px, -103px);
    transform: translate(70px, 103px) scale(0, 0) translate(-70px, -103px);
  }

  50% {
    -webkit-transform: translate(70px, 103px) scale(1, 1) translate(-70px, -103px);
    transform: translate(70px, 103px) scale(1, 1) translate(-70px, -103px);
  }

  0% {
    -webkit-transform: translate(70px, 103px) scale(0, 0) translate(-70px, -103px);
    transform: translate(70px, 103px) scale(0, 0) translate(-70px, -103px);
  }

  100% {
    -webkit-transform: translate(70px, 103px) scale(1, 1) translate(-70px, -103px);
    transform: translate(70px, 103px) scale(1, 1) translate(-70px, -103px);
  }
}

@-webkit-keyframes kf_el_Lit-fWkNwN_an_tNqo4ZfqK {
  50% {
    -webkit-transform: translate(67.841796875px, 100.53900146484375px) translate(-67.841796875px, -100.53900146484375px) translate(0px, 0px);
    transform: translate(67.841796875px, 100.53900146484375px) translate(-67.841796875px, -100.53900146484375px) translate(0px, 0px);
  }

  55.56% {
    -webkit-transform: translate(67.841796875px, 100.53900146484375px) translate(-67.841796875px, -100.53900146484375px) translate(5px, 5px);
    transform: translate(67.841796875px, 100.53900146484375px) translate(-67.841796875px, -100.53900146484375px) translate(5px, 5px);
  }

  60% {
    -webkit-transform: translate(67.841796875px, 100.53900146484375px) translate(-67.841796875px, -100.53900146484375px) translate(-5px, -5px);
    transform: translate(67.841796875px, 100.53900146484375px) translate(-67.841796875px, -100.53900146484375px) translate(-5px, -5px);
  }

  63.33% {
    -webkit-transform: translate(67.841796875px, 100.53900146484375px) translate(-67.841796875px, -100.53900146484375px) translate(0px, 0px);
    transform: translate(67.841796875px, 100.53900146484375px) translate(-67.841796875px, -100.53900146484375px) translate(0px, 0px);
  }

  0% {
    -webkit-transform: translate(67.841796875px, 100.53900146484375px) translate(-67.841796875px, -100.53900146484375px) translate(0px, 0px);
    transform: translate(67.841796875px, 100.53900146484375px) translate(-67.841796875px, -100.53900146484375px) translate(0px, 0px);
  }

  100% {
    -webkit-transform: translate(67.841796875px, 100.53900146484375px) translate(-67.841796875px, -100.53900146484375px) translate(0px, 0px);
    transform: translate(67.841796875px, 100.53900146484375px) translate(-67.841796875px, -100.53900146484375px) translate(0px, 0px);
  }
}

@keyframes kf_el_Lit-fWkNwN_an_tNqo4ZfqK {
  50% {
    -webkit-transform: translate(67.841796875px, 100.53900146484375px) translate(-67.841796875px, -100.53900146484375px) translate(0px, 0px);
    transform: translate(67.841796875px, 100.53900146484375px) translate(-67.841796875px, -100.53900146484375px) translate(0px, 0px);
  }

  55.56% {
    -webkit-transform: translate(67.841796875px, 100.53900146484375px) translate(-67.841796875px, -100.53900146484375px) translate(5px, 5px);
    transform: translate(67.841796875px, 100.53900146484375px) translate(-67.841796875px, -100.53900146484375px) translate(5px, 5px);
  }

  60% {
    -webkit-transform: translate(67.841796875px, 100.53900146484375px) translate(-67.841796875px, -100.53900146484375px) translate(-5px, -5px);
    transform: translate(67.841796875px, 100.53900146484375px) translate(-67.841796875px, -100.53900146484375px) translate(-5px, -5px);
  }

  63.33% {
    -webkit-transform: translate(67.841796875px, 100.53900146484375px) translate(-67.841796875px, -100.53900146484375px) translate(0px, 0px);
    transform: translate(67.841796875px, 100.53900146484375px) translate(-67.841796875px, -100.53900146484375px) translate(0px, 0px);
  }

  0% {
    -webkit-transform: translate(67.841796875px, 100.53900146484375px) translate(-67.841796875px, -100.53900146484375px) translate(0px, 0px);
    transform: translate(67.841796875px, 100.53900146484375px) translate(-67.841796875px, -100.53900146484375px) translate(0px, 0px);
  }

  100% {
    -webkit-transform: translate(67.841796875px, 100.53900146484375px) translate(-67.841796875px, -100.53900146484375px) translate(0px, 0px);
    transform: translate(67.841796875px, 100.53900146484375px) translate(-67.841796875px, -100.53900146484375px) translate(0px, 0px);
  }
}

@-webkit-keyframes kf_el_Lit-fWkNwN_an_xpoErvD2X {
  46.67% {
    -webkit-transform: translate(67.841796875px, 100.53900146484375px) scale(0, 0) translate(-67.841796875px, -100.53900146484375px);
    transform: translate(67.841796875px, 100.53900146484375px) scale(0, 0) translate(-67.841796875px, -100.53900146484375px);
  }

  50% {
    -webkit-transform: translate(67.841796875px, 100.53900146484375px) scale(1, 1) translate(-67.841796875px, -100.53900146484375px);
    transform: translate(67.841796875px, 100.53900146484375px) scale(1, 1) translate(-67.841796875px, -100.53900146484375px);
  }

  0% {
    -webkit-transform: translate(67.841796875px, 100.53900146484375px) scale(0, 0) translate(-67.841796875px, -100.53900146484375px);
    transform: translate(67.841796875px, 100.53900146484375px) scale(0, 0) translate(-67.841796875px, -100.53900146484375px);
  }

  100% {
    -webkit-transform: translate(67.841796875px, 100.53900146484375px) scale(1, 1) translate(-67.841796875px, -100.53900146484375px);
    transform: translate(67.841796875px, 100.53900146484375px) scale(1, 1) translate(-67.841796875px, -100.53900146484375px);
  }
}

@keyframes kf_el_Lit-fWkNwN_an_xpoErvD2X {
  46.67% {
    -webkit-transform: translate(67.841796875px, 100.53900146484375px) scale(0, 0) translate(-67.841796875px, -100.53900146484375px);
    transform: translate(67.841796875px, 100.53900146484375px) scale(0, 0) translate(-67.841796875px, -100.53900146484375px);
  }

  50% {
    -webkit-transform: translate(67.841796875px, 100.53900146484375px) scale(1, 1) translate(-67.841796875px, -100.53900146484375px);
    transform: translate(67.841796875px, 100.53900146484375px) scale(1, 1) translate(-67.841796875px, -100.53900146484375px);
  }

  0% {
    -webkit-transform: translate(67.841796875px, 100.53900146484375px) scale(0, 0) translate(-67.841796875px, -100.53900146484375px);
    transform: translate(67.841796875px, 100.53900146484375px) scale(0, 0) translate(-67.841796875px, -100.53900146484375px);
  }

  100% {
    -webkit-transform: translate(67.841796875px, 100.53900146484375px) scale(1, 1) translate(-67.841796875px, -100.53900146484375px);
    transform: translate(67.841796875px, 100.53900146484375px) scale(1, 1) translate(-67.841796875px, -100.53900146484375px);
  }
}

@-webkit-keyframes kf_el_dwFD9iOQdn_an_heg1xQF9H {
  50% {
    -webkit-transform: translate(33.25px, 94.2499008178711px) translate(-33.25px, -94.2499008178711px) translate(0px, 0px);
    transform: translate(33.25px, 94.2499008178711px) translate(-33.25px, -94.2499008178711px) translate(0px, 0px);
  }

  55.56% {
    -webkit-transform: translate(33.25px, 94.2499008178711px) translate(-33.25px, -94.2499008178711px) translate(5px, 5px);
    transform: translate(33.25px, 94.2499008178711px) translate(-33.25px, -94.2499008178711px) translate(5px, 5px);
  }

  60% {
    -webkit-transform: translate(33.25px, 94.2499008178711px) translate(-33.25px, -94.2499008178711px) translate(-5px, -5px);
    transform: translate(33.25px, 94.2499008178711px) translate(-33.25px, -94.2499008178711px) translate(-5px, -5px);
  }

  63.33% {
    -webkit-transform: translate(33.25px, 94.2499008178711px) translate(-33.25px, -94.2499008178711px) translate(0px, 0px);
    transform: translate(33.25px, 94.2499008178711px) translate(-33.25px, -94.2499008178711px) translate(0px, 0px);
  }

  0% {
    -webkit-transform: translate(33.25px, 94.2499008178711px) translate(-33.25px, -94.2499008178711px) translate(0px, 0px);
    transform: translate(33.25px, 94.2499008178711px) translate(-33.25px, -94.2499008178711px) translate(0px, 0px);
  }

  100% {
    -webkit-transform: translate(33.25px, 94.2499008178711px) translate(-33.25px, -94.2499008178711px) translate(0px, 0px);
    transform: translate(33.25px, 94.2499008178711px) translate(-33.25px, -94.2499008178711px) translate(0px, 0px);
  }
}

@keyframes kf_el_dwFD9iOQdn_an_heg1xQF9H {
  50% {
    -webkit-transform: translate(33.25px, 94.2499008178711px) translate(-33.25px, -94.2499008178711px) translate(0px, 0px);
    transform: translate(33.25px, 94.2499008178711px) translate(-33.25px, -94.2499008178711px) translate(0px, 0px);
  }

  55.56% {
    -webkit-transform: translate(33.25px, 94.2499008178711px) translate(-33.25px, -94.2499008178711px) translate(5px, 5px);
    transform: translate(33.25px, 94.2499008178711px) translate(-33.25px, -94.2499008178711px) translate(5px, 5px);
  }

  60% {
    -webkit-transform: translate(33.25px, 94.2499008178711px) translate(-33.25px, -94.2499008178711px) translate(-5px, -5px);
    transform: translate(33.25px, 94.2499008178711px) translate(-33.25px, -94.2499008178711px) translate(-5px, -5px);
  }

  63.33% {
    -webkit-transform: translate(33.25px, 94.2499008178711px) translate(-33.25px, -94.2499008178711px) translate(0px, 0px);
    transform: translate(33.25px, 94.2499008178711px) translate(-33.25px, -94.2499008178711px) translate(0px, 0px);
  }

  0% {
    -webkit-transform: translate(33.25px, 94.2499008178711px) translate(-33.25px, -94.2499008178711px) translate(0px, 0px);
    transform: translate(33.25px, 94.2499008178711px) translate(-33.25px, -94.2499008178711px) translate(0px, 0px);
  }

  100% {
    -webkit-transform: translate(33.25px, 94.2499008178711px) translate(-33.25px, -94.2499008178711px) translate(0px, 0px);
    transform: translate(33.25px, 94.2499008178711px) translate(-33.25px, -94.2499008178711px) translate(0px, 0px);
  }
}

@-webkit-keyframes kf_el_dwFD9iOQdn_an_zap6yJGPM {
  46.67% {
    opacity: 0;
  }

  53.33% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes kf_el_dwFD9iOQdn_an_zap6yJGPM {
  46.67% {
    opacity: 0;
  }

  53.33% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes kf_el_TfK21x1qbO_an_tnZK45oQr {
  0% {
    -webkit-transform: translate(63px, 94px) scale(0, 0) translate(-63px, -94px);
    transform: translate(63px, 94px) scale(0, 0) translate(-63px, -94px);
  }

  10% {
    -webkit-transform: translate(63px, 94px) scale(1, 1) translate(-63px, -94px);
    transform: translate(63px, 94px) scale(1, 1) translate(-63px, -94px);
  }

  100% {
    -webkit-transform: translate(63px, 94px) scale(1, 1) translate(-63px, -94px);
    transform: translate(63px, 94px) scale(1, 1) translate(-63px, -94px);
  }
}

@keyframes kf_el_TfK21x1qbO_an_tnZK45oQr {
  0% {
    -webkit-transform: translate(63px, 94px) scale(0, 0) translate(-63px, -94px);
    transform: translate(63px, 94px) scale(0, 0) translate(-63px, -94px);
  }

  10% {
    -webkit-transform: translate(63px, 94px) scale(1, 1) translate(-63px, -94px);
    transform: translate(63px, 94px) scale(1, 1) translate(-63px, -94px);
  }

  100% {
    -webkit-transform: translate(63px, 94px) scale(1, 1) translate(-63px, -94px);
    transform: translate(63px, 94px) scale(1, 1) translate(-63px, -94px);
  }
}

@-webkit-keyframes kf_el_eju56KUzzK_an_d6koA3wHt {
  18.89% {
    opacity: 0;
  }

  23.33% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes kf_el_eju56KUzzK_an_d6koA3wHt {
  18.89% {
    opacity: 0;
  }

  23.33% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes kf_el_eju56KUzzK_an_vpZwuzOeb {
  13.33% {
    -webkit-transform: translate(80.60970306396484px, 68.39029693603516px) scale(0, 0) translate(-80.60970306396484px, -68.39029693603516px);
    transform: translate(80.60970306396484px, 68.39029693603516px) scale(0, 0) translate(-80.60970306396484px, -68.39029693603516px);
  }

  23.33% {
    -webkit-transform: translate(80.60970306396484px, 68.39029693603516px) scale(1, 1) translate(-80.60970306396484px, -68.39029693603516px);
    transform: translate(80.60970306396484px, 68.39029693603516px) scale(1, 1) translate(-80.60970306396484px, -68.39029693603516px);
  }

  0% {
    -webkit-transform: translate(80.60970306396484px, 68.39029693603516px) scale(0, 0) translate(-80.60970306396484px, -68.39029693603516px);
    transform: translate(80.60970306396484px, 68.39029693603516px) scale(0, 0) translate(-80.60970306396484px, -68.39029693603516px);
  }

  100% {
    -webkit-transform: translate(80.60970306396484px, 68.39029693603516px) scale(1, 1) translate(-80.60970306396484px, -68.39029693603516px);
    transform: translate(80.60970306396484px, 68.39029693603516px) scale(1, 1) translate(-80.60970306396484px, -68.39029693603516px);
  }
}

@keyframes kf_el_eju56KUzzK_an_vpZwuzOeb {
  13.33% {
    -webkit-transform: translate(80.60970306396484px, 68.39029693603516px) scale(0, 0) translate(-80.60970306396484px, -68.39029693603516px);
    transform: translate(80.60970306396484px, 68.39029693603516px) scale(0, 0) translate(-80.60970306396484px, -68.39029693603516px);
  }

  23.33% {
    -webkit-transform: translate(80.60970306396484px, 68.39029693603516px) scale(1, 1) translate(-80.60970306396484px, -68.39029693603516px);
    transform: translate(80.60970306396484px, 68.39029693603516px) scale(1, 1) translate(-80.60970306396484px, -68.39029693603516px);
  }

  0% {
    -webkit-transform: translate(80.60970306396484px, 68.39029693603516px) scale(0, 0) translate(-80.60970306396484px, -68.39029693603516px);
    transform: translate(80.60970306396484px, 68.39029693603516px) scale(0, 0) translate(-80.60970306396484px, -68.39029693603516px);
  }

  100% {
    -webkit-transform: translate(80.60970306396484px, 68.39029693603516px) scale(1, 1) translate(-80.60970306396484px, -68.39029693603516px);
    transform: translate(80.60970306396484px, 68.39029693603516px) scale(1, 1) translate(-80.60970306396484px, -68.39029693603516px);
  }
}

@-webkit-keyframes kf_el_tKxiEjKvud_an_A8aTk8E1A {
  33.33% {
    opacity: 0;
  }

  43.33% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes kf_el_tKxiEjKvud_an_A8aTk8E1A {
  33.33% {
    opacity: 0;
  }

  43.33% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes kf_el_tKxiEjKvud_an_4KOP84IGt {
  33.33% {
    -webkit-transform: translate(68.28459930419922px, 36.999900817871094px) translate(-68.28459930419922px, -36.999900817871094px) translate(-20px, -50px);
    transform: translate(68.28459930419922px, 36.999900817871094px) translate(-68.28459930419922px, -36.999900817871094px) translate(-20px, -50px);
  }

  43.33% {
    -webkit-transform: translate(68.28459930419922px, 36.999900817871094px) translate(-68.28459930419922px, -36.999900817871094px) translate(0px, 0px);
    transform: translate(68.28459930419922px, 36.999900817871094px) translate(-68.28459930419922px, -36.999900817871094px) translate(0px, 0px);
  }

  0% {
    -webkit-transform: translate(68.28459930419922px, 36.999900817871094px) translate(-68.28459930419922px, -36.999900817871094px) translate(-20px, -50px);
    transform: translate(68.28459930419922px, 36.999900817871094px) translate(-68.28459930419922px, -36.999900817871094px) translate(-20px, -50px);
  }

  100% {
    -webkit-transform: translate(68.28459930419922px, 36.999900817871094px) translate(-68.28459930419922px, -36.999900817871094px) translate(0px, 0px);
    transform: translate(68.28459930419922px, 36.999900817871094px) translate(-68.28459930419922px, -36.999900817871094px) translate(0px, 0px);
  }
}

@keyframes kf_el_tKxiEjKvud_an_4KOP84IGt {
  33.33% {
    -webkit-transform: translate(68.28459930419922px, 36.999900817871094px) translate(-68.28459930419922px, -36.999900817871094px) translate(-20px, -50px);
    transform: translate(68.28459930419922px, 36.999900817871094px) translate(-68.28459930419922px, -36.999900817871094px) translate(-20px, -50px);
  }

  43.33% {
    -webkit-transform: translate(68.28459930419922px, 36.999900817871094px) translate(-68.28459930419922px, -36.999900817871094px) translate(0px, 0px);
    transform: translate(68.28459930419922px, 36.999900817871094px) translate(-68.28459930419922px, -36.999900817871094px) translate(0px, 0px);
  }

  0% {
    -webkit-transform: translate(68.28459930419922px, 36.999900817871094px) translate(-68.28459930419922px, -36.999900817871094px) translate(-20px, -50px);
    transform: translate(68.28459930419922px, 36.999900817871094px) translate(-68.28459930419922px, -36.999900817871094px) translate(-20px, -50px);
  }

  100% {
    -webkit-transform: translate(68.28459930419922px, 36.999900817871094px) translate(-68.28459930419922px, -36.999900817871094px) translate(0px, 0px);
    transform: translate(68.28459930419922px, 36.999900817871094px) translate(-68.28459930419922px, -36.999900817871094px) translate(0px, 0px);
  }
}

@-webkit-keyframes kf_el_5u8PhK3re__an_zOrxXUgfK {
  26.67% {
    opacity: 0;
  }

  37.78% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes kf_el_5u8PhK3re__an_zOrxXUgfK {
  26.67% {
    opacity: 0;
  }

  37.78% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes kf_el_5u8PhK3re__an_dMYiZaX6s {
  26.67% {
    -webkit-transform: translate(140.29000091552734px, 79.58614921569824px) translate(-140.29000091552734px, -79.58614921569824px) translate(20px, -50px);
    transform: translate(140.29000091552734px, 79.58614921569824px) translate(-140.29000091552734px, -79.58614921569824px) translate(20px, -50px);
  }

  37.78% {
    -webkit-transform: translate(140.29000091552734px, 79.58614921569824px) translate(-140.29000091552734px, -79.58614921569824px) translate(0px, 0px);
    transform: translate(140.29000091552734px, 79.58614921569824px) translate(-140.29000091552734px, -79.58614921569824px) translate(0px, 0px);
  }

  0% {
    -webkit-transform: translate(140.29000091552734px, 79.58614921569824px) translate(-140.29000091552734px, -79.58614921569824px) translate(20px, -50px);
    transform: translate(140.29000091552734px, 79.58614921569824px) translate(-140.29000091552734px, -79.58614921569824px) translate(20px, -50px);
  }

  100% {
    -webkit-transform: translate(140.29000091552734px, 79.58614921569824px) translate(-140.29000091552734px, -79.58614921569824px) translate(0px, 0px);
    transform: translate(140.29000091552734px, 79.58614921569824px) translate(-140.29000091552734px, -79.58614921569824px) translate(0px, 0px);
  }
}

@keyframes kf_el_5u8PhK3re__an_dMYiZaX6s {
  26.67% {
    -webkit-transform: translate(140.29000091552734px, 79.58614921569824px) translate(-140.29000091552734px, -79.58614921569824px) translate(20px, -50px);
    transform: translate(140.29000091552734px, 79.58614921569824px) translate(-140.29000091552734px, -79.58614921569824px) translate(20px, -50px);
  }

  37.78% {
    -webkit-transform: translate(140.29000091552734px, 79.58614921569824px) translate(-140.29000091552734px, -79.58614921569824px) translate(0px, 0px);
    transform: translate(140.29000091552734px, 79.58614921569824px) translate(-140.29000091552734px, -79.58614921569824px) translate(0px, 0px);
  }

  0% {
    -webkit-transform: translate(140.29000091552734px, 79.58614921569824px) translate(-140.29000091552734px, -79.58614921569824px) translate(20px, -50px);
    transform: translate(140.29000091552734px, 79.58614921569824px) translate(-140.29000091552734px, -79.58614921569824px) translate(20px, -50px);
  }

  100% {
    -webkit-transform: translate(140.29000091552734px, 79.58614921569824px) translate(-140.29000091552734px, -79.58614921569824px) translate(0px, 0px);
    transform: translate(140.29000091552734px, 79.58614921569824px) translate(-140.29000091552734px, -79.58614921569824px) translate(0px, 0px);
  }
}

@-webkit-keyframes kf_el_MAz9H0fp55_an_St7DLEXZi {
  13.33% {
    -webkit-transform: translate(119.2760009765625px, 117.69514846801758px) rotate(450deg) translate(-119.2760009765625px, -117.69514846801758px);
    transform: translate(119.2760009765625px, 117.69514846801758px) rotate(450deg) translate(-119.2760009765625px, -117.69514846801758px);
  }

  23.33% {
    -webkit-transform: translate(119.2760009765625px, 117.69514846801758px) rotate(0deg) translate(-119.2760009765625px, -117.69514846801758px);
    transform: translate(119.2760009765625px, 117.69514846801758px) rotate(0deg) translate(-119.2760009765625px, -117.69514846801758px);
  }

  0% {
    -webkit-transform: translate(119.2760009765625px, 117.69514846801758px) rotate(450deg) translate(-119.2760009765625px, -117.69514846801758px);
    transform: translate(119.2760009765625px, 117.69514846801758px) rotate(450deg) translate(-119.2760009765625px, -117.69514846801758px);
  }

  100% {
    -webkit-transform: translate(119.2760009765625px, 117.69514846801758px) rotate(0deg) translate(-119.2760009765625px, -117.69514846801758px);
    transform: translate(119.2760009765625px, 117.69514846801758px) rotate(0deg) translate(-119.2760009765625px, -117.69514846801758px);
  }
}

@keyframes kf_el_MAz9H0fp55_an_St7DLEXZi {
  13.33% {
    -webkit-transform: translate(119.2760009765625px, 117.69514846801758px) rotate(450deg) translate(-119.2760009765625px, -117.69514846801758px);
    transform: translate(119.2760009765625px, 117.69514846801758px) rotate(450deg) translate(-119.2760009765625px, -117.69514846801758px);
  }

  23.33% {
    -webkit-transform: translate(119.2760009765625px, 117.69514846801758px) rotate(0deg) translate(-119.2760009765625px, -117.69514846801758px);
    transform: translate(119.2760009765625px, 117.69514846801758px) rotate(0deg) translate(-119.2760009765625px, -117.69514846801758px);
  }

  0% {
    -webkit-transform: translate(119.2760009765625px, 117.69514846801758px) rotate(450deg) translate(-119.2760009765625px, -117.69514846801758px);
    transform: translate(119.2760009765625px, 117.69514846801758px) rotate(450deg) translate(-119.2760009765625px, -117.69514846801758px);
  }

  100% {
    -webkit-transform: translate(119.2760009765625px, 117.69514846801758px) rotate(0deg) translate(-119.2760009765625px, -117.69514846801758px);
    transform: translate(119.2760009765625px, 117.69514846801758px) rotate(0deg) translate(-119.2760009765625px, -117.69514846801758px);
  }
}

@-webkit-keyframes kf_el_MAz9H0fp55_an_I-ZIRF-cc {
  13.33% {
    -webkit-transform: translate(119.2760009765625px, 117.69514846801758px) scale(0, 0) translate(-119.2760009765625px, -117.69514846801758px);
    transform: translate(119.2760009765625px, 117.69514846801758px) scale(0, 0) translate(-119.2760009765625px, -117.69514846801758px);
  }

  23.33% {
    -webkit-transform: translate(119.2760009765625px, 117.69514846801758px) scale(1, 1) translate(-119.2760009765625px, -117.69514846801758px);
    transform: translate(119.2760009765625px, 117.69514846801758px) scale(1, 1) translate(-119.2760009765625px, -117.69514846801758px);
  }

  0% {
    -webkit-transform: translate(119.2760009765625px, 117.69514846801758px) scale(0, 0) translate(-119.2760009765625px, -117.69514846801758px);
    transform: translate(119.2760009765625px, 117.69514846801758px) scale(0, 0) translate(-119.2760009765625px, -117.69514846801758px);
  }

  100% {
    -webkit-transform: translate(119.2760009765625px, 117.69514846801758px) scale(1, 1) translate(-119.2760009765625px, -117.69514846801758px);
    transform: translate(119.2760009765625px, 117.69514846801758px) scale(1, 1) translate(-119.2760009765625px, -117.69514846801758px);
  }
}

@keyframes kf_el_MAz9H0fp55_an_I-ZIRF-cc {
  13.33% {
    -webkit-transform: translate(119.2760009765625px, 117.69514846801758px) scale(0, 0) translate(-119.2760009765625px, -117.69514846801758px);
    transform: translate(119.2760009765625px, 117.69514846801758px) scale(0, 0) translate(-119.2760009765625px, -117.69514846801758px);
  }

  23.33% {
    -webkit-transform: translate(119.2760009765625px, 117.69514846801758px) scale(1, 1) translate(-119.2760009765625px, -117.69514846801758px);
    transform: translate(119.2760009765625px, 117.69514846801758px) scale(1, 1) translate(-119.2760009765625px, -117.69514846801758px);
  }

  0% {
    -webkit-transform: translate(119.2760009765625px, 117.69514846801758px) scale(0, 0) translate(-119.2760009765625px, -117.69514846801758px);
    transform: translate(119.2760009765625px, 117.69514846801758px) scale(0, 0) translate(-119.2760009765625px, -117.69514846801758px);
  }

  100% {
    -webkit-transform: translate(119.2760009765625px, 117.69514846801758px) scale(1, 1) translate(-119.2760009765625px, -117.69514846801758px);
    transform: translate(119.2760009765625px, 117.69514846801758px) scale(1, 1) translate(-119.2760009765625px, -117.69514846801758px);
  }
}

@-webkit-keyframes kf_el_4T4x4g9Lu9_an_i98lWcjuK {
  0% {
    -webkit-transform: translate(85.38749694824219px, 142.81750106811523px) scale(0, 0) translate(-85.38749694824219px, -142.81750106811523px);
    transform: translate(85.38749694824219px, 142.81750106811523px) scale(0, 0) translate(-85.38749694824219px, -142.81750106811523px);
  }

  10% {
    -webkit-transform: translate(85.38749694824219px, 142.81750106811523px) scale(1, 1) translate(-85.38749694824219px, -142.81750106811523px);
    transform: translate(85.38749694824219px, 142.81750106811523px) scale(1, 1) translate(-85.38749694824219px, -142.81750106811523px);
  }

  100% {
    -webkit-transform: translate(85.38749694824219px, 142.81750106811523px) scale(1, 1) translate(-85.38749694824219px, -142.81750106811523px);
    transform: translate(85.38749694824219px, 142.81750106811523px) scale(1, 1) translate(-85.38749694824219px, -142.81750106811523px);
  }
}

@keyframes kf_el_4T4x4g9Lu9_an_i98lWcjuK {
  0% {
    -webkit-transform: translate(85.38749694824219px, 142.81750106811523px) scale(0, 0) translate(-85.38749694824219px, -142.81750106811523px);
    transform: translate(85.38749694824219px, 142.81750106811523px) scale(0, 0) translate(-85.38749694824219px, -142.81750106811523px);
  }

  10% {
    -webkit-transform: translate(85.38749694824219px, 142.81750106811523px) scale(1, 1) translate(-85.38749694824219px, -142.81750106811523px);
    transform: translate(85.38749694824219px, 142.81750106811523px) scale(1, 1) translate(-85.38749694824219px, -142.81750106811523px);
  }

  100% {
    -webkit-transform: translate(85.38749694824219px, 142.81750106811523px) scale(1, 1) translate(-85.38749694824219px, -142.81750106811523px);
    transform: translate(85.38749694824219px, 142.81750106811523px) scale(1, 1) translate(-85.38749694824219px, -142.81750106811523px);
  }
}

@-webkit-keyframes kf_el_4T4x4g9Lu9_an_8wlKWTLLX {
  0% {
    -webkit-transform: translate(85.38749694824219px, 142.81750106811523px) translate(-85.38749694824219px, -142.81750106811523px) translate(30px, 0px);
    transform: translate(85.38749694824219px, 142.81750106811523px) translate(-85.38749694824219px, -142.81750106811523px) translate(30px, 0px);
  }

  10% {
    -webkit-transform: translate(85.38749694824219px, 142.81750106811523px) translate(-85.38749694824219px, -142.81750106811523px) translate(30px, 0px);
    transform: translate(85.38749694824219px, 142.81750106811523px) translate(-85.38749694824219px, -142.81750106811523px) translate(30px, 0px);
  }

  100% {
    -webkit-transform: translate(85.38749694824219px, 142.81750106811523px) translate(-85.38749694824219px, -142.81750106811523px) translate(30px, 0px);
    transform: translate(85.38749694824219px, 142.81750106811523px) translate(-85.38749694824219px, -142.81750106811523px) translate(30px, 0px);
  }
}

@keyframes kf_el_4T4x4g9Lu9_an_8wlKWTLLX {
  0% {
    -webkit-transform: translate(85.38749694824219px, 142.81750106811523px) translate(-85.38749694824219px, -142.81750106811523px) translate(30px, 0px);
    transform: translate(85.38749694824219px, 142.81750106811523px) translate(-85.38749694824219px, -142.81750106811523px) translate(30px, 0px);
  }

  10% {
    -webkit-transform: translate(85.38749694824219px, 142.81750106811523px) translate(-85.38749694824219px, -142.81750106811523px) translate(30px, 0px);
    transform: translate(85.38749694824219px, 142.81750106811523px) translate(-85.38749694824219px, -142.81750106811523px) translate(30px, 0px);
  }

  100% {
    -webkit-transform: translate(85.38749694824219px, 142.81750106811523px) translate(-85.38749694824219px, -142.81750106811523px) translate(30px, 0px);
    transform: translate(85.38749694824219px, 142.81750106811523px) translate(-85.38749694824219px, -142.81750106811523px) translate(30px, 0px);
  }
}

#el_ikk1KUL1P * {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_4T4x4g9Lu9 {
  opacity: 0.4;
  -webkit-transform: translate(0px, 0px) rotate(-20.5647deg);
  transform: translate(0px, 0px) rotate(-20.5647deg);
  -webkit-transform-origin: 0% 60.106%;
  transform-origin: 0% 60.106%;
  fill: url(#paint0_linear);
}

#el_MAz9H0fp55 {
  fill: #FFCC00;
}

#el_5u8PhK3re_ {
  fill: #7523D8;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  -webkit-animation-name: kf_el_5u8PhK3re__an_zOrxXUgfK;
  animation-name: kf_el_5u8PhK3re__an_zOrxXUgfK;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_tKxiEjKvud {
  fill: #9389F4;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  -webkit-animation-name: kf_el_tKxiEjKvud_an_A8aTk8E1A;
  animation-name: kf_el_tKxiEjKvud_an_A8aTk8E1A;
  -webkit-animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
  animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
}

#el_eju56KUzzK {
  fill: #FFBD21;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  -webkit-animation-name: kf_el_eju56KUzzK_an_d6koA3wHt;
  animation-name: kf_el_eju56KUzzK_an_d6koA3wHt;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_CkBoTzOgcZ {
  fill: #6B5BDF;
  visibility: hidden;
}

#el_TfK21x1qbO {
  fill: #EFF4FD;
}

#el_dwFD9iOQdn {
  fill: #5A80DA;
  stroke: white;
  stroke-width: 0.5;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  -webkit-animation-name: kf_el_dwFD9iOQdn_an_zap6yJGPM;
  animation-name: kf_el_dwFD9iOQdn_an_zap6yJGPM;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_Lit-fWkNwN {
  fill: #5A80DA;
  stroke: white;
  stroke-width: 0.5;
}

#el_iilFtJNBZf {
  fill: #D8E2F7;
}

#el_3tsvVXmx8N {
  fill: white;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  -webkit-animation-name: kf_el_3tsvVXmx8N_an_QVDJCTvDH;
  animation-name: kf_el_3tsvVXmx8N_an_QVDJCTvDH;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_AWFZBNa8cB {
  fill: white;
  visibility: hidden;
}

#el_kC_R4xw6A- {
  fill: white;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  -webkit-animation-name: kf_el_kC_R4xw6A-_an_m4iXLhhNW;
  animation-name: kf_el_kC_R4xw6A-_an_m4iXLhhNW;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_RR_8o1GoWZ {
  fill: white;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  -webkit-animation-name: kf_el_RR_8o1GoWZ_an_Lycrdf-ss;
  animation-name: kf_el_RR_8o1GoWZ_an_Lycrdf-ss;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_4T4x4g9Lu9_an_8wlKWTLLX {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: translate(85.38749694824219px, 142.81750106811523px) translate(-85.38749694824219px, -142.81750106811523px) translate(30px, 0px);
  transform: translate(85.38749694824219px, 142.81750106811523px) translate(-85.38749694824219px, -142.81750106811523px) translate(30px, 0px);
  -webkit-animation-name: kf_el_4T4x4g9Lu9_an_8wlKWTLLX;
  animation-name: kf_el_4T4x4g9Lu9_an_8wlKWTLLX;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_4T4x4g9Lu9_an_i98lWcjuK {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: translate(85.38749694824219px, 142.81750106811523px) scale(0, 0) translate(-85.38749694824219px, -142.81750106811523px);
  transform: translate(85.38749694824219px, 142.81750106811523px) scale(0, 0) translate(-85.38749694824219px, -142.81750106811523px);
  -webkit-animation-name: kf_el_4T4x4g9Lu9_an_i98lWcjuK;
  animation-name: kf_el_4T4x4g9Lu9_an_i98lWcjuK;
  -webkit-animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
  animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
}

#el_MAz9H0fp55_an_I-ZIRF-cc {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: translate(119.2760009765625px, 117.69514846801758px) scale(0, 0) translate(-119.2760009765625px, -117.69514846801758px);
  transform: translate(119.2760009765625px, 117.69514846801758px) scale(0, 0) translate(-119.2760009765625px, -117.69514846801758px);
  -webkit-animation-name: kf_el_MAz9H0fp55_an_I-ZIRF-cc;
  animation-name: kf_el_MAz9H0fp55_an_I-ZIRF-cc;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
  animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
}

#el_MAz9H0fp55_an_St7DLEXZi {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: translate(119.2760009765625px, 117.69514846801758px) rotate(450deg) translate(-119.2760009765625px, -117.69514846801758px);
  transform: translate(119.2760009765625px, 117.69514846801758px) rotate(450deg) translate(-119.2760009765625px, -117.69514846801758px);
  -webkit-animation-name: kf_el_MAz9H0fp55_an_St7DLEXZi;
  animation-name: kf_el_MAz9H0fp55_an_St7DLEXZi;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
  animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
}

#el_5u8PhK3re__an_dMYiZaX6s {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: translate(140.29000091552734px, 79.58614921569824px) translate(-140.29000091552734px, -79.58614921569824px) translate(20px, -50px);
  transform: translate(140.29000091552734px, 79.58614921569824px) translate(-140.29000091552734px, -79.58614921569824px) translate(20px, -50px);
  -webkit-animation-name: kf_el_5u8PhK3re__an_dMYiZaX6s;
  animation-name: kf_el_5u8PhK3re__an_dMYiZaX6s;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_tKxiEjKvud_an_4KOP84IGt {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: translate(68.28459930419922px, 36.999900817871094px) translate(-68.28459930419922px, -36.999900817871094px) translate(-20px, -50px);
  transform: translate(68.28459930419922px, 36.999900817871094px) translate(-68.28459930419922px, -36.999900817871094px) translate(-20px, -50px);
  -webkit-animation-name: kf_el_tKxiEjKvud_an_4KOP84IGt;
  animation-name: kf_el_tKxiEjKvud_an_4KOP84IGt;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_eju56KUzzK_an_vpZwuzOeb {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: translate(80.60970306396484px, 68.39029693603516px) scale(0, 0) translate(-80.60970306396484px, -68.39029693603516px);
  transform: translate(80.60970306396484px, 68.39029693603516px) scale(0, 0) translate(-80.60970306396484px, -68.39029693603516px);
  -webkit-animation-name: kf_el_eju56KUzzK_an_vpZwuzOeb;
  animation-name: kf_el_eju56KUzzK_an_vpZwuzOeb;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_TfK21x1qbO_an_tnZK45oQr {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: translate(63px, 94px) scale(0, 0) translate(-63px, -94px);
  transform: translate(63px, 94px) scale(0, 0) translate(-63px, -94px);
  -webkit-animation-name: kf_el_TfK21x1qbO_an_tnZK45oQr;
  animation-name: kf_el_TfK21x1qbO_an_tnZK45oQr;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_dwFD9iOQdn_an_heg1xQF9H {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: translate(33.25px, 94.2499008178711px) translate(-33.25px, -94.2499008178711px) translate(0px, 0px);
  transform: translate(33.25px, 94.2499008178711px) translate(-33.25px, -94.2499008178711px) translate(0px, 0px);
  -webkit-animation-name: kf_el_dwFD9iOQdn_an_heg1xQF9H;
  animation-name: kf_el_dwFD9iOQdn_an_heg1xQF9H;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_Lit-fWkNwN_an_xpoErvD2X {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: translate(67.841796875px, 100.53900146484375px) scale(0, 0) translate(-67.841796875px, -100.53900146484375px);
  transform: translate(67.841796875px, 100.53900146484375px) scale(0, 0) translate(-67.841796875px, -100.53900146484375px);
  -webkit-animation-name: kf_el_Lit-fWkNwN_an_xpoErvD2X;
  animation-name: kf_el_Lit-fWkNwN_an_xpoErvD2X;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_Lit-fWkNwN_an_tNqo4ZfqK {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: translate(67.841796875px, 100.53900146484375px) translate(-67.841796875px, -100.53900146484375px) translate(0px, 0px);
  transform: translate(67.841796875px, 100.53900146484375px) translate(-67.841796875px, -100.53900146484375px) translate(0px, 0px);
  -webkit-animation-name: kf_el_Lit-fWkNwN_an_tNqo4ZfqK;
  animation-name: kf_el_Lit-fWkNwN_an_tNqo4ZfqK;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_iilFtJNBZf_an_7rG_qA_o0 {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: translate(70px, 103px) scale(0, 0) translate(-70px, -103px);
  transform: translate(70px, 103px) scale(0, 0) translate(-70px, -103px);
  -webkit-animation-name: kf_el_iilFtJNBZf_an_7rG_qA_o0;
  animation-name: kf_el_iilFtJNBZf_an_7rG_qA_o0;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_iilFtJNBZf_an_HuTTrNIUR {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: translate(70px, 103px) translate(-70px, -103px) translate(0px, 0px);
  transform: translate(70px, 103px) translate(-70px, -103px) translate(0px, 0px);
  -webkit-animation-name: kf_el_iilFtJNBZf_an_HuTTrNIUR;
  animation-name: kf_el_iilFtJNBZf_an_HuTTrNIUR;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

#el_3tsvVXmx8N_an_Tu00hwX5K {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: translate(100.60791015625px, 109.37390899658203px) translate(-100.60791015625px, -109.37390899658203px) translate(0px, 0px);
  transform: translate(100.60791015625px, 109.37390899658203px) translate(-100.60791015625px, -109.37390899658203px) translate(0px, 0px);
  -webkit-animation-name: kf_el_3tsvVXmx8N_an_Tu00hwX5K;
  animation-name: kf_el_3tsvVXmx8N_an_Tu00hwX5K;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}